.container{
    width: 200px;
    background: black;

}

button{
    height: 150px;
    width: 150px;
    
}

.encendido{
    
    background: linear-gradient(<angle>, red, white);
}

.red{
    background-color: red;
    height: 150px;
    width: 150px;
    
}
.yellow{
    background-color: yellow;

}
.green{
    background-color: green;
}